<ion-view title="Home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
  
    <p>Welcome to the ionic-http-auth home page!</p>
    <p>Select the menu icon at the top of the page and select the Customers link.</p>
    <p>You will then be prompted to login.  You can just tap the login button to be logged in.</p>
    <p>You will then see the customers displayed.</p>
    
  </ion-content>
</ion-view>